{% extends "/base.html" %}
{%block mainbody%}
<div id="flexcontent">
    <div id="registrygifts">
        <h4>View Dana's and Luke's wedding registry:
        <a class="mybutton" id="registry" href="http://www.weddingwire.com/wedding/UserViewWebsiteToolRegistry?wid=8ca4ec51ebcfd05b&pid=6ea70fd22f2bd084">View the registry</a></h4>
    </div>
    <div id="madegifts">
        <h4>Help us make something fun for Dana and Luke!</h4>
        <p id="giftstext">We want to give Dana something to remind her of her friends and family as she moves off to El Paso, TX. We are putting together a slideshow/scrapbook to surprise Dana with at the bridal shower. But we need your help! We would like to get some kind of personal message from each guest. You can record a short video, take a snapshot, upload a photo, or write a message. Please click below to provide a message for Dana and Luke. Once people have done this, we will put together some sort of display for the bridal shower!</p>
        <div id="mybuttongroup2">
        <a href="video.html" class="mybutton2">Record a video</a> <!--a is needed for jutification-->
        <a href="photo.html" class="mybutton2">Take a photo</a>
        <a href="upload.html" class="mybutton2">Upload photos</a>
        <a href="write.html" class="mybutton2">Write something</a>
    </div>
    </div>
</div>
{%endblock%}