{% extends "/base.html" %}
{%block mainbody%}
<div id="flexcontent">
    <div id="registrygifts">
        <h4>View Dana's and Luke's wedding registry:
        <a class="mybutton" id="registry" href="http://www.weddingwire.com/wedding/UserViewWebsiteToolRegistry?wid=8ca4ec51ebcfd05b&pid=6ea70fd22f2bd084">View the registry</a></h4>
    </div>
    <div id="madegifts">
        <h4>Help us make something fun for Dana and Luke!</h4>
        <p id="giftstext">We want to give Dana something to remind her of her friends and family as she moves off to El Paso, TX. We are putting together a scrapbook to surprise Dana with at the bridal shower. But we need your help! We would like to get some kind of personal message from each guest. You can write a message, take a snapshot, or upload a photo. Just click one of the options below. You will also be able to add to scrapbook on the day of the shower. <br><br>
        We also want to make a recipe book for Dana and Luke. Regardless of whether you have a photo or personal message, please pass along your favorite recipe!
        </p>
        <div id="mybuttongroup2">
        <a href="recipe.html" class="mybutton2">Enter a recipe</a> <!--a is needed for jutification-->
        <a href="photo.html" class="mybutton2">Take a photo</a>
        <a href="upload.html" class="mybutton2">Upload photos</a>
        <a href="write.html" class="mybutton2">Write something</a>
    </div>
    </div>
</div>
{%endblock%}