{% extends "/base.html" %}
{%block mainbody%}
<div id="flexcontent">
    <div id="info">
        <h2>Bridal Shower Info</h2>
        <h3>Where: Rachel Pradko's house <a href="#" class="link" id="directions">Directions</a></h3>
        <h3>When: March 29th, 2pm</h3>
        <h3>Questions: amy.skerry@gmail.com</h3>
        <!--<h5><br><br>Note: this website is mostly overkill (the maid of honor wanted an excuse to learn how to program web interfaces). However, it does have one purpose, which is to get fun photos, videos, and messages from you all (see Gifts section)!</h5>-->
    </div>

</div>
{%endblock%}