{% extends "/base.html" %}
{%block mainbody%}
<div id="flexcontent">
    <div id="info">
        <h2>Shower Info</h2>
        <h3>Where: Rachel Pradko's house <a href="https://maps.google.com/maps?q=30+high+ridge+circle+franklin+ma&ie=UTF-8&hq=&hnear=0x89e47018ac1a6635:0xd3ace4d0d9f1a798,30+High+Ridge+Cir,+Franklin,+MA+02038&gl=us&ei=G5P2UuJz176xBLi8gfgH&ved=0CCwQ8gEwAA" class="link" id="directions">Directions</a></h3>
        <h4>30 High Ridge Cir, Franklin, MA 02038</h4>
        <h3>When: March 29th, 2pm</h3>
        <h3>Questions: Ask Amy, Rachel, Renee, Ashley or Michelle, or email amy.skerry@gmail.com</h3>
        <!--<h5><br><br>Note: this website is mostly overkill (the maid of honor wanted an excuse to learn how to program web interfaces). However, it does have one purpose, which is to get fun photos, videos, and messages from you all (see Gifts section)!</h5>-->
    </div>

</div>
{%endblock%}