{% extends "/base.html" %}
{%block mainbody%}
<script> 
webcamheight=640;
webcamwidth=480;
$(document).ready(function() {
        $("#webcamphoto").scriptcam({
            //showMicrophoneErrors:false,
            //--onError:onError,
            cornerRadius:20,
            cornerColor:'e3e5e2',
            uploadImage:'myupload.jpg',
            onPictureAsBase64:base64_tofield_and_image,
            //connected:showRecord,
            onWebcamReady:showStuff,
            width: webcamheight,//560,
            height: webcamwidth,//420,
            promptWillShow: showMessage
        });
    });
    function showMessage() {
        mymessage='<p class="modalmsg">Have a cute photo of Dana or Luke? Especially one with you in it? Upload it here! You can also snap a photo with your webcam. Think of a place or thing that reminds you of Luke and Dana, and take a picture of it! </p> <p class="modalmsg"> A (very ugly) security dialog will be shown--please select ALLOW to take a photo. Note: You can select to deny webcam access, but still upload a photo.<p>'
        bootbox.dialog({message:mymessage, title:'Photos', show: true, backdrop: true, closeButton: false, animate: true,  className: "my-photo-modal", buttons: {continue: {label: "Continue!", className: "btn-cont",callback: function() {}}}});
    }
    function showRecord() {
        //$( "#takephoto" ).attr( "disabled", false );
        //$( "#takephoto" ).show();
        //$( "#takephoto" ).attr( "disabled", false );
    }
     function showStuff() {
        //$( "#takephoto" ).attr( "disabled", false );
        $( "#takephoto" ).html('Take Photo');
        $( "#takephoto" ).attr( "disabled", false );
    }
    function base64_tofield() {
        $('#photofield').val($.scriptcam.getFrameAsBase64());
        $('#webcamphoto').hide();
        $('#takephoto').hide();
        $('#reviewimagediv').css('display','inline-block');
        $('#reviewimage').attr("src","data:image/png;base64,"+$('#photofield').val());
        $('#submitphoto').show();
    };
    function base64_tofield_and_image(b64) {
        $('#photofield').val(b64);
        $('#webcamphoto').hide();
        $('#takephoto').hide();
        $('#reviewimagediv').css('display','inline-block');
        $('#reviewimage').attr("src","data:image/png;base64,"+b64);
        desiredResolution=webcamheight/webcamwidth
        newwidth=$('#reviewimage').width();
        newheight=$('#reviewimage').height();
        actResolution=newwidth/newheight;
        if (actResolution>desiredResolution){
            console.log('too wide! resizing')
            $('#reviewimage').css('width','100%');
            $('#reviewimage').css('height','auto');
        }
        $('#submitphoto').show();
    };
    
    function onError(errorId,errorMsg) {
        $( "#takephoto" ).attr( "disabled", true );
        alert(errorMsg);
    }			
</script> 
<div id="flexcontent">
    <div id="messagediv">
        <p></p>
    </div>
    <div id="recorderdivphoto">
			<div id="webcamphoto"></div>
            <div id="reviewimagediv"><img id="reviewimage" src="tempimg.png"/></div>
            <button class="mybutton" id="takephoto" onclick="base64_tofield()"><i class="camera"></i>Upload Photo</button>
            <form name="myform" action="save.py" method="post">
			<input type="hidden" name="photofield" id="photofield">
            <input type="submit" class="mybutton" id="submitphoto" value="Submit Photo">
            </form>
    </div>
</div>
{%endblock%}



