{% extends "/base.html" %}
{%block mainbody%}
<script>
webcamheight=640;
webcamwidth=480;
playing=1;
    $(document).ready(function() {
        $("#webcamvideo").scriptcam({ 
            cornerRadius:20,
            cornerColor:'000000',
            onError:oopsError,
            showMicrophoneErrors:false,
            onWebcamReady: showHWA,
            fileName:'demofilename',
            connected:showRecord,
            width: webcamheight,//560,
            height: webcamwidth,//420,
            promptWillShow: showMessage,
            setVolume: volume,
            country: 'usa',
            showDebug: true
        });
    });
    function showHWA() {
    alert($.scriptcam.hardwareacceleration());
    }
    function volume(value){
    //console.log(value)
    }
    function showMessage() {
        mymessage='<br><p class="modalmsg">Record any kind of message you wish to pass along to Dana and Luke: a song, a poem, an interpretative dance, or just a quick video wishing them good luck! </p> <p class="modalmsg"> You will need to grant permission for the website to access your webcam for this option to work. A (very ugly) security dialog will be shown--please select ALLOW to record your video. If you want to record audio but not video, just cover your webcam. Very high-tech :).</p>';
        bootbox.dialog({message:mymessage, title:'Record a video', show: true, backdrop: true, closeButton: false, animate: true,  className: "my-video-modal", buttons: {continue: {label: "Continue!", className: "btn-cont",callback: function() {}}}});
    }
    function showRecord() {
        $( "#recordStart" ).attr( "disabled", false );
        $.scriptcam.changeVolume(75);

    }
    function startRecording() {
        $( "#recordStart" ).attr( "disabled", true );
        $( "#recordStop" ).attr( "disabled", false );
        $( "#recordPause" ).attr( "disabled", false );
        $.scriptcam.startRecording();
    }
    function closeCamera() {
        $.scriptcam.closeCamera();
        console.log('camera closed');
        $("#recordPause" ).attr( "disabled", true );
        $("#recordStop" ).attr( "disabled", true );
        $("#videosaved" ).attr( "value", 1);
        $( "#mybuttongroup" ).hide();
        $( "#vidsubmit" ).show();
    }
    function pauseResumeCamera() {
        if (playing) {
            $( "#recordPause" ).html('<i class="record"></i>Resume Recording');
            playing=0;
            $.scriptcam.pauseRecording();
        }
        else {
            $( "#recordPause" ).html('<i class="pause"></i>Pause Recording');
            playing=1;
            $.scriptcam.resumeRecording();
        }
    }
    function oopsError(errorId,errorMsg) {
        alert(errorMsg);
    }
</script>

<div id="flexcontent">
    <div id="messagediv">
        <p id="instructions"> </p>
    </div>
<div id="recorderdiv">
    <div id="mybuttongroup">
        <a href="#" id="recordStart" class="mybuttonfixed" onclick="startRecording()" disabled><i class="record"></i>Start Recording</a> <!--a is needed for jutification-->
        <a href="#" id="recordPause" class="mybuttonfixed" onclick="pauseResumeCamera()" disabled><i class="pause"></i>Pause Recording</a>
        <a href="#" id="recordStop" class="mybuttonfixed" onclick="closeCamera()" disabled><i class="stop"></i>Stop Recording</a>
    </div>
    <!--<form name="myform" action="cgi-bin/save.py" method="post">-->
    <form name="myform" action="save.py" method="post">
    <input type="hidden" name="videosaved" id="videosaved" value="0">
    <div id="vidsubmit"><input type="submit" class="mybutton" id="submitvid" value="Submit Video"></div>
    </form>
    <div id="webcamvideo"></div>
</div>
</div>
{%endblock%}

