{% extends "/base.html" %}
{%block mainbody%}
<div id="flexcontent">
    <div id="write">
        <!--<form name="myform" action="cgi-bin/save.py" method="post">-->
        <form name="myform" id="myform" action="save.py" method="post">
        <p>Write a message. Don't forget to sign it!</p>
        <textarea id="textmessage" name="textmessage"  rows="5" value="none" placeholder="type message here"></textarea>
        <input id="savebtn" class="mybutton" type="button" value="Save" onclick="validatetext()">
        </form>
    </div>

</div>
{%endblock%}
